.card {
  display: grid;
  grid-template-rows: 4fr 1fr;
  height: 350px;
  width: 250px;
  margin: 2px;
  padding: 2px;
  background-color: rgba(128, 128, 128, 0.226);
  box-shadow:  0 4px 8px 0 rgba(128, 128, 128, 0.945);
  
}

.cardImage {
  width: 100%;
}

.button {
  background-color: #55ad58;
  border: none;
  outline: none;
  color: white;
  text-align: center;
  /* margin: 2px; */
  /* display: inline-block; */
}
.button:hover{background-color: #45a348}
.button:active{
  border: none;
  background-color: #275f29;
}

.pin{  
  background-color: rgb(204, 118, 118);
}

.pin:hover{background-color: #ad5e5e}
.pin:active{
  border: none;
  background-color: rgb(144, 70, 70);
}

.textArea{
  outline: none;
  resize: none;
  border: none;
  font-size: 20px;
  color: #3d3d3d;
  background-color: rgba(114, 114, 114, 0);
}

.tagContainer{
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgba(128, 128, 128, 0.418);
  color: grey;
  padding: 4px;
}

.tagArea{
  grid-template-rows: 1fr 5fr;  
  min-height: 40px;
  /* font-size: 18px; */
  background-color: rgba(0, 0, 0, 0);
}